<img src="../../../assets/mini.jpeg" alt="Portfolio Photo" />
<!-- https://picsum.photos/200/300 -->
<p>
  I'm Elchin Farhadov, a software enthusiast originally from Azerbaijan and now
  living in Turin, Italy. Whether it's science, history, philosophy, economy,
  trading, tech, lifestyle, or religion, I love diving deep into diverse topics
  and soaking up knowledge. Outside of coding, I embrace a minimalist and stoic
  lifestyle, finding joy in exploring and learning about the world around me.
</p>
