/* START OF HEADER STYLES */
header {
  padding: 16px 32px;
  margin-bottom: 50px;
}

header .wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header h1 span {
  margin-right: 10px;
}

.links {
  display: flex;
  gap: 50px; 
  margin-left: auto; 

}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

header nav > * {
  margin-left: 24px;
}
/* END OF HEADER STYLES */
