header {
  padding: 16px 32px;
  margin-bottom: 50px;
}

header .wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-header {
  font: inherit;
  font-size: 38px;
}

header h1 span {
  margin-right: 10px;
}

.links {
  display: flex;
  gap: 50px; 
  margin-left: auto; 
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

header nav > * {
  margin-left: 24px;
}

header nav a.active {
  transform: rotate(-15deg);
  display: inline-block;
  transition: transform 0.3s ease;
}
/* END OF HEADER STYLES */
