<header>
  <div class="wrapper">
    <h1 class="page-header">
      <app-dark-mode-toggle></app-dark-mode-toggle>
      <span></span>
      <a class="header-text" routerLink="/">{{ siteName }}</a>
    </h1>

    <div class="links">
      <nav>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </nav>
      <nav>
        <a routerLink="/projects/" routerLinkActive="active">Projects</a>
      </nav>
      <nav>
        <a routerLink="/about/" routerLinkActive="active">About</a>
      </nav>
      <nav>
        <a routerLink="/article/" routerLinkActive="active">Article</a>
      </nav>
    </div>
  </div>
</header>
